body{
    background-color: #264653;
    font-family: Arial, Verdana;
    max-width: 1100px;
    margin: auto;
}
div{
    border: 1px solid black;
    padding: 30px;
    border-radius: 0%;
    background-color: #006d77;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0;
}
.topo{
    background-color: #2a9d8f;
    text-align: center;
}
.historia{
    background-color: #2a9d8f;
    text-align: justify;
    display: flex;
}
.revolucao{
    background-color: #2a9d8f;
    text-align: justify;
}
.video{
    background-color: #2a9d8f;
    text-align: center;
}